<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ lang }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <p>{{ currentIndex + 1 }}/{{ palabras.length }}</p>
    <ion-card>
      <ion-card-header style="color: white">
        <ion-card-title>{{ languajeChange ? currentWord?.word : currentWord?.translation }}</ion-card-title>
        <ion-button fill="clear" (click)="speakCurrentWord()" style="margin-top: 20px;">
          🔊 Escuchar
        </ion-button>
      </ion-card-header>

      <ion-card-content>
        <div *ngIf="showTranslation" style="color: white">
          <p><strong style="color: #04c901">{{ languajeChange ? currentWord?.translation : currentWord?.word }}</strong>
          </p>
        </div>

        <ion-button style="margin-top: 10px" (click)="toggleTranslation()">
          {{ showTranslation ? 'Ocultar' : 'Mostrar' }} traducción
        </ion-button>
        <ion-button (click)="toggleFavorite(currentWord)" class="btn-heart">
          <ion-icon [name]="currentWord?.favorite ? 'heart-dislike' : 'heart'"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="previousCard()" [disabled]="currentIndex === 0">
            Anterior
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="nextCard()" [disabled]="currentIndex === palabras.length - 1">
            Siguiente
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
  <!-- Footer fijo con botones -->
  <div class="footer-buttons" style="margin-left: 10px; margin-right: 10px; margin-bottom: 30px">
    <div style="top: 20px;">
      <ion-select (ionChange)="onSelectChange($event)" interface="popover" placeholder="Select Range">
        <ion-select-option value="all">All</ion-select-option>
        <ion-select-option value="half">Half</ion-select-option>
        <ion-select-option value="halfLast">Last half</ion-select-option>
        <ion-select-option value="last100">Last 100</ion-select-option>
        <ion-select-option value="last50">Last 50</ion-select-option>
        <ion-select-option value="favorites">Favorites</ion-select-option>
      </ion-select>
      <ion-button (click)="changeLanguage()" style="margin-top: 20px" color="secondary">Language</ion-button>
    </div>
  </div>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>